@import "src/theme-variables";

:host {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}

md-card {
	margin: 5px;
	padding: 0;
	flex-grow: 1;
	flex-basis: auto;
	max-width: 600px;
	min-width: 350px;
}

.content {
	padding: 10px;
	flex: 1;

	md-input-container {
		width: 100%;
	}
}

.accountPage {
	display: flex;
}

@media screen and (min-width: 951px) {
	:host {
		flex-wrap: nowrap;
	}
	.accountPage {
		max-width: 350px;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 950px) {
	:host {
		flex-wrap: wrap;
	}

	.accountPage {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 400px) {
	md-card {
		min-width: 0;
	}
}
.flex-spacer {
	flex: 1 1 auto;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: relative;
}

.profileImage {
	position: absolute;
	top: 5px;
	right: 5px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
	border: 2px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
}

.footer {
	display: flex;
	width: 100%;
	padding: 2px;
}

.footerTitle {
	margin-top: 5px;
	font-size: 0.7em;
	width: 100%;
	color: mat-color($primary, lighter);
}

.footerTitle + .footer {
	border-top: 1px solid rgba(0,0,0,0.1);
}

button {
	margin-left: 5px;
}

td:first-child {
	font-weight: bold;
}	

td {
	padding-right: 5px;
}
