@import "src/theme-variables";
:host {
	width: 100%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
		width: 100%;
		padding: 20px;
		position: relative;
}

form {
	width: 100%;
}

.filter-container > *, .filter-container form > * {
	margin-bottom: 10px;
	flex: 1;
}

.radioOrder {
	display: inline-flex;
  flex-direction: column;
}

.title {
	font-weight: bold;
	margin: 0;
}

.fullWidth {
    width: 100%;
}

.distance {
    display: flex;
    flex-direction: row;
}

.distance md-slider {
	flex: 1;
}

.actions {
	display: flex;
	justify-content: space-between;
}

#resetButton {
	position: absolute;
	top: 12px;
	right: 10px;
}

.spacer {
    margin-top: 15px;
}

button {
	text-transform: uppercase;
}
