<div class="filter-container">
	<p class="title">Filter activities</p>
	<button id="resetButton" md-raised-button color="warn" (click)="filterForm.reset(defaultValues)">Reset</button>
	<form (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm" novalidate>
		<md-radio-group class="radioOrder" formControlName="order">
			<md-radio-button value="latest">Latest</md-radio-button>
			<md-radio-button value="upcoming">Up coming</md-radio-button>
			<md-radio-button value="distance" [disabled]="!geoloc && !dialogResult">Distance</md-radio-button>
		</md-radio-group>
		<div class="check-container">
			<md-checkbox formControlName="own">My activities</md-checkbox>
			<md-checkbox formControlName="favorite">Favorites</md-checkbox>
		</div>
		<md-input-container class="fullWidth">
			<input mdInput type="text" placeholder="Search" formControlName="search">
		</md-input-container>
		<div style="display: flex; align-items: flex-end;">
			<md-select placeholder="Category" formControlName="category" style="flex: 1;">
				<md-option [value]="null" selected>All</md-option>
				<md-option *ngFor="let cat of categoriesObs | async" [value]="cat">
					{{ cat.category }}
				</md-option>
			</md-select>
			<md-icon style="margin-left: 10px;">{{filterForm.get('category').value?.icon}}</md-icon>
		</div>
		<span class="title">Distance</span>
		<div class="distance fullWidth">
			<md-slider thumbLabel min="0" max="200" value="50" formControlName="distance" [disabled]="!geoloc && !dialogResult">
			</md-slider>
			<md-input-container>
				<input type="number" [disabled]="!geoloc && !dialogResult" #distanceNumber mdInput min="0" max="200" [value]='filterForm.controls["distance"].value' (change)="filterForm.get('distance').setValue(distanceNumber.value)" placeholder="Km">
			</md-input-container>
		</div>
		<span *ngIf="!geoloc && !dialogResult" class="warn">No geolocation available. Please set location:</span>
		<span *ngIf="dialogResult" class="warn">* Manual location enabled.</span>
		<button type="button" md-button (click)="openDialog()" style="width: 100%;">SET LOCATION</button>
	</form>
</div>
