<div class="filter-container">
	<p>Filter activities</p>
	<form (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm" novalidate>
		<md-input-container class="fullWidth">
			<input mdInput type="text" placeholder="Search" formControlName="search">
		</md-input-container>
		<br>
		<br>
		<div style="display: flex;">
			<md-select placeholder="Category" formControlName="category" style="flex: 1;">
				<md-option value="" selected (click)='icon = ""'>None</md-option>
				<md-option *ngFor="let cat of categories" [value]="cat.category" (click)="icon = cat.icon">
					{{ cat.category }}
				</md-option>
			</md-select>
			<md-icon style="margin-left: 10px;">{{ icon }}</md-icon>
		</div>
		<br>
		<br>
		<div class="distance">
			<md-slider class="fullWidth" thumbLabel min="0" max="200" value="50" formControlName="distance">
			</md-slider>
			<span id="destContainer"></span>
		</div>
		<br>
		<br>
		<section class="alignRight">
			<button class="buttonPad" md-raised-button color="accent" [disabled]="!filterForm.valid">Apply Filter</button>
		</section>
	</form>
</div>
