<div class="filter-container">
	<p>Filter activities</p>
	<form (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm" novalidate>
		<md-input-container class="fullWidth">
			<input mdInput type="text" placeholder="Search" formControlName="search">
		</md-input-container>
		<br>
		<br>
		<md-select placeholder="Category" formControlName="category">
			<md-option value="" selected>None</md-option>
			<md-option *ngFor="let cat of categories" [value]="cat.category">
				{{ cat.category }}
			</md-option>
		</md-select>
		<br>
		<br>
		<div class="distance">
			<md-slider class="fullWidth" thumbLabel min="10" max="200" value="50" formControlName="distance">
			</md-slider>
			<span id="destContainer"></span>
		</div>
		<br>
		<br>
		<section class="alignRight">
			<button class="buttonPad" md-raised-button color="accent" [disabled]="!filterForm.valid">Apply Filter</button>
		</section>
	</form>
</div>
