<md-dialog-content>
	<h3>Activate!</h3>
	<p>
		<span style="font-style: italic">Activate</span> is designed to bring likeminded people together by sharing activities.
		For your convenience we ask to use your geolocation to filter activities that are near you, and hide ones that are too far for your taste.

	</p>
	<h4>Some tips for using the app</h4>
	<p>
		<img src="./assets/about/about.png" style="width: 100%"/>
		<br>
		The grey bar on the left means that the activity belongs to you!
		<br>
		The yellow bar on the right shows the currently selected activity.
	</p>
	<br><br>
	<table>
		<tr>
			<td><img src="./assets/about/github.png"/></td><td><a href="https://github.com/FallDownTheSystem/Activate/" target="_blank">Activate on github!</a></td>
		</tr>
		<tr>
			<td><md-icon>mail</md-icon></td><td><a href="mailto:activatefeedback@gmail.com">activatefeedback@gmail.com</a></td>
		</tr>
		<tr>
			<td colspan="2" class="by">by Jere Kaplas & Eetu Heimala</td>
		</tr>
	</table>

</md-dialog-content>
<md-dialog-actions>
	<button md-raised-button color="primary" type="button" (click)="dialogRef.close()">CLOSE</button>
</md-dialog-actions>