@import "src/theme";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.registrationCard {
    width: 300px;
    margin: 5px;
}

.fullWidth {
    width: 100%;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
	font-family: "Roboto";
	font-weight: 500;
	text-transform: uppercase;
	size: 14px;
}

.buttonPad {
	margin: 16px 0 0 16px;
}

a:link, a:visited {
    text-decoration: none;
    color: mat-color($accent, darker);
    font-weight: bold;
}

a:hover, a:active {
    text-decoration: underline;
}