<div class="activityMessages expand" *ngIf="user">
		<div *ngFor="let msg of messages">
			<p class="author">
				<span class="user" [class.owner]="msg.ownerId == user.userId" (click)="openDialog(msg)">{{msg.name}}</span>
				<span class="timestamp">{{msg.timestamp | date:'short'}}</span>
			</p>
			<p class="message">
				{{msg.message}}
			</p>
			<div class="message-actions">
				<button *ngIf="msg.ownerId == user.userId"  md-icon-button mdTooltip="Edit" (click)="editMessage(msg);"><md-icon>edit</md-icon></button>
				<button *ngIf="msg.ownerId == user.userId"  md-icon-button mdTooltip="Delete" (click)="deleteMessage(msg)"><md-icon>delete</md-icon></button>
			</div>
		</div>
		<form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm.value, messagetextarea)">
			<md-input-container>
				<textarea #messagetextarea class="newComment" type="text" mdInput required placeholder="New message" name="msg" ngModel (click)="messageForm.reset()"></textarea>
			</md-input-container>
			<div class="alignRight">
					<button md-button type="submit">POST</button>
			</div>
		</form>
</div>