<div class="activityMessages expand" *ngIf="user">
		<div class="messageContainer" *ngFor="let msg of messages, let i = index">
			<p class="author">
				<span class="user" [class.owner]="msg.ownerId == ownerId" (click)="openDialog(msg)">{{msg.name}}</span>
				<span class="timestamp">{{msg.timestamp | date:'short'}}</span>
				<span class="edited" *ngIf="msg.edited">*Edited {{msg?.edited | date:'short'}}</span>
			</p>
			<p class="message" *ngIf="!editMode[i]">
				{{msg.message}}
			</p>
			<button id="editButton" *ngIf="msg.ownerId == user.userId && !editMode[i]"  md-icon-button mdTooltip="Edit" (click)="editMode[i] = !editMode[i];"><md-icon>edit</md-icon></button>
			<form *ngIf="editMode[i]" #editForm="ngForm">
				<textarea name="editArea" ngModel class="editArea" mdInput [(ngModel)]="msg.message">
				</textarea>
				<div class="message-actions">
					<button type="button" *ngIf="msg.ownerId == user.userId" md-icon-button mdTooltip="Cancel" (click)="editMode[i] = !editMode[i];"><md-icon>cancel</md-icon></button>
					<button type="button" *ngIf="msg.ownerId == user.userId" md-icon-button mdTooltip="Delete" (click)="deleteMessage(msg, i);"><md-icon>delete</md-icon></button>
					<button type="button" *ngIf="msg.ownerId == user.userId" md-icon-button mdTooltip="Confirm changes" (click)="updateMessage(msg, i);"><md-icon>done</md-icon></button>
				</div>
			</form>
		</div>
		<form (ngSubmit)="onSubmit()" [formGroup]="messageForm" novalidate *ngIf="disableOnAccount()">
			<md-input-container>
				<textarea #messagetextarea class="newComment required" type="text" mdInput required placeholder="New message" formControlName="msg"></textarea>
				<md-hint align="end" *ngIf="messageForm.controls.msg.hasError('required') && !messageForm.controls.msg.pristine" class="error">Message is required!</md-hint>
				<md-hint align="end" *ngIf="messageForm.controls.msg.hasError('maxlength') && !messageForm.controls.msg.pristine" class="error">Message is too long! (max. 300 characters).</md-hint>
			</md-input-container>
			<div class="alignRight">
					<button md-raised-button type="submit" color="accent" [disabled]="!messageForm.valid">POST</button>
			</div>
		</form>
</div>