.sebm-google-map-container {
  height: 420px;
	width: 420px;
}

@media screen and (max-width: 849px) {

	.sebm-google-map-container {
		width: 100%;
		height: 300px
	}
}

md-dialog-actions {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;

	button {
		margin: 8px;
	}
}