	<md-card class="newActivity">
		<md-card-title *ngIf="editMode">
			Edit Activity
		</md-card-title>
		<md-card-title *ngIf="!editMode">
			New Activity
		</md-card-title>
		<md-card-subtitle>
			Fill in the following information for your activity.
		</md-card-subtitle>
		<form [formGroup]="activityForm" novalidate (ngSubmit)="onSubmit()">
			<md-card-content>
				<md-input-container>
					<input type="text" mdInput required placeholder="Activity name" formControlName="title">
					<md-hint align="end" *ngIf="activityForm.controls.title.errors && !activityForm.controls.title.pristine" class="error">Title is required!</md-hint>
				</md-input-container>
				<md-input-container>
					<input type="text" mdInput required placeholder="Subtitle" formControlName="subtitle">
					<md-hint align="end" *ngIf="activityForm.controls.subtitle.errors && !activityForm.controls.subtitle.pristine" class="error">Subtitle is required!</md-hint>
				</md-input-container>
				<div style="display: flex;">
					<md-select placeholder="Category" formControlName="category" style="flex: 1">
						<md-option *ngFor="let cat of categories" [value]="cat">
							{{ cat.category }}
						</md-option>
					</md-select>
					<md-icon style="margin-left: 10px;">{{activityForm.get('category').value?.icon}}</md-icon>
				</div>
				<md-input-container>
					<input type="text" mdInput required placeholder="Location" formControlName="location">
					<md-hint align="end" *ngIf="activityForm.controls.location.errors && !activityForm.controls.location.pristine" class="error">Location is required!</md-hint>
				</md-input-container>
				<md-input-container class="description">
					<textarea type="text" mdInput required placeholder="Description" formControlName="description"></textarea>
					<md-hint align="end" *ngIf="activityForm.controls.description.hasError('required') && !activityForm.controls.description.pristine" class="error">Description is required!</md-hint>
					<md-hint align="end" *ngIf="activityForm.controls.description.hasError('maxlength') && !activityForm.controls.description.pristine" class="error">Description is too long! (max. 1000 characters).</md-hint>
					
				</md-input-container>
				<div class="timeDate">
					<md-input-container>
						<input type="time" mdInput placeholder="Time" formControlName="time">
					</md-input-container>
					<md-input-container>
						<input type="date" mdInput required placeholder="Date" formControlName="date">
						<md-hint align="end" *ngIf="activityForm.controls.date.errors && !activityForm.controls.date.pristine" class="error">Date is required!</md-hint>
					</md-input-container>
				</div>
				<md-input-container>
					<input type="text" mdInput required placeholder="Organizer" formControlName="organizer">
					<md-hint align="end" *ngIf="activityForm.controls.organizer.errors && !activityForm.controls.organizer.pristine" class="error">Organizer is required!</md-hint>
				</md-input-container>
				<md-input-container>
					<input type="text" mdInput placeholder="Contact email" formControlName="contact">
				</md-input-container>
				<md-input-container>
					<input type="text" mdInput placeholder="Tag" formControlName="tags">
					<md-hint align="end" *ngIf="activityForm.controls.tags.hasError('maxlength') && !activityForm.controls.tags.pristine" class="error">Tag is too long! (max. 40 characters).</md-hint>
				</md-input-container>
				<button type="button" md-raised-button color="primary" [disabled]="activityForm.controls.tags.value==''" (click)="addTag()">ADD</button>
				<md-chip-list>
					<md-chip *ngFor="let tag of enteredTags">
						<span>{{tag}}</span> <md-icon (click)="removeEnteredTag(tag)" class="remove-tag">cancel</md-icon>
					</md-chip>
				</md-chip-list>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button type="button" color="accent" (click)="goBack()">Cancel</button>
				<button md-raised-button color="accent" [disabled]="!activityForm.valid">Submit</button>
			</md-card-actions>
		</form>
	</md-card>