@import "src/theme-variables";

.newActivity {
    width: 500px;
}

md-card-content {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: 10px;
    }
}

md-card-actions {
    display: flex;
    justify-content: flex-end;
}

textarea {
    height: 80px;
}

md-chip {
	margin: 2px;
}

md-chip > span{
	cursor: pointer;
}