	<md-card class="newActivity">
		<md-card-title>
			New Activity
		</md-card-title>
		<md-card-subtitle>
			Fill in the following information to create a new activity
		</md-card-subtitle>
		<form [formGroup]="activityForm" novalidate (ngSubmit)="onSubmit()">
			<md-card-content>
				<md-input-container>
					<input type="text" mdInput required placeholder="Activity name" formControlName="title">
				</md-input-container>
				<md-input-container>
					<input type="text" mdInput required placeholder="Subtitle" formControlName="subtitle">
				</md-input-container>
				<md-select placeholder="Category" formControlName="category">
					<md-option *ngFor="let cat of categories" [value]="cat.category">
						{{ cat.category }}
					</md-option>
				</md-select>
				<md-input-container>
					<input type="text" mdInput required placeholder="Location" formControlName="location">
				</md-input-container>
				<md-input-container>
					<textarea type="text" mdInput required placeholder="Description" formControlName="description"></textarea>
				</md-input-container>
				<div class="timeDate">
					<md-input-container>
						<input type="time" mdInput placeholder="Time" formControlName="time">
					</md-input-container>
					<md-input-container>
						<input type="date" mdInput required placeholder="Date" formControlName="date">
					</md-input-container>
				</div>
				<md-input-container>
					<input type="text" mdInput required placeholder="Organizer" formControlName="organizer">
				</md-input-container>
				<md-input-container>
					<input type="text" mdInput required placeholder="Contact email" formControlName="contact">
				</md-input-container>
				<md-input-container>
          <input type="text" mdInput placeholder="Tag" formControlName="tags">
        </md-input-container>
        <button type="button" md-raised-button color="primary" [disabled]="activityForm.controls.tags.value==''" (click)="addTag()">ADD</button>
				<md-chip-list>
					<md-chip *ngFor="let tag of enteredTags">
						{{tag}}  <span (click)="removeEnteredTag(tag)" class="remove-tag">x</span>
					</md-chip>
      	</md-chip-list>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button type="button" color="accent">Cancel</button>
				<button md-raised-button color="accent" [disabled]="!activityForm.valid">Submit</button>
			</md-card-actions>
		</form>
	</md-card>