@import "src/theme-variables";

:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.newActivity {
	margin: 5px;
	width: 350px;
}

md-card-content {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: 10px;
    }
}

md-card-actions {
    display: flex;
    justify-content: flex-end;
}

textarea {
    height: 80px;
}

md-chip {
	margin: 2px;
}

md-chip > span{
	cursor: pointer;
}