.loginCard {
    width: 300px;
    margin: 5px;
    align-self: center;
}

.fullWidth {
    width: 100%;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

a:link, a:visited {
    text-decoration: none;
    color: #075E54;
    font-weight: bold;
}

a:hover, a:active {
    text-decoration: underline;
}