@import "src/theme-variables";

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fullWidth {
    width: 100%;
}

.distance {
    display: flex;
    flex-direction: row;
}

.flexChips md-chip {
    margin: 2px;
    border: 1px solid white;
}

.alignRight {
    align-self: flex-end;
}

.spacer {
    margin-top: 15px;
}
