<div [class.dark-theme]="isDarkTheme" id="appWrapper">
	<!-- FIX: Theme change doesn't reach past access-forms component -->
	<md-sidenav-container>
		<md-sidenav #sidenav class="sidenav-container" mode="over">
			<md-toolbar color="primary">
				<button md-icon-button  class="sidenavClose" (click)="sidenav.close()"><md-icon color="accent">chevron_left</md-icon></button>
				<span class="appTitle">{{title}}</span>
			</md-toolbar>
			<div>
				<act-filter>
				</act-filter>
			</div>
		</md-sidenav>
		<div class="app-container">
			<div #toolbarContainer>
			<md-toolbar color="primary">
					<button class="menu-button" md-icon-button (click)="sidenav.open()"><md-icon color="accent">menu</md-icon></button>
					<a routerLink="/home" routerLinkActive="active" class="tool"><button md-button color="accent" class="appTitle">{{title}}</button></a>
					<span class="toolbar-spacer"></span>
					<a *ngIf="user" routerLink="/account" routerLinkActive="active"><button md-button color="accent"><span>{{user.displayName}}</span></button></a>
				
					<a *ngIf="!user" (click)="login()"><button md-button color="accent">Sign in / Sign up</button></a>
					<!-- Double click "Login" to spoof logging in -->
					<a *ngIf="user" routerLink="/home" (click)="logout()" routerLinkActive="active"><button md-button color="accent">Logout</button></a>

					<!-- TODO: Change (click) event to fire a logout function -->
					<button md-icon-button [md-menu-trigger-for]="menu">
						<md-icon>more_vert</md-icon>
					</button>
				<md-menu x-position="before" #menu="mdMenu">
					<button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle Theme</button>
				</md-menu>
			</md-toolbar>
			</div>
			<div [style.height]="'calc(100vh - ' + viewHeight + 'px)'">
				<router-outlet></router-outlet>
			</div>
		</div>

	</md-sidenav-container>
	<a *ngIf="user && !sidenav.opened && (router.url != '/new-activity')"
			md-fab routerLink="/new-activity"
			routerLinkActive="active"
			class="addActivity"
			mdTooltip="Add a new activity!"
			mdTooltipPosition="left"
	><md-icon>add</md-icon></a>
</div>