@import "src/theme";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

md-toolbar {
}

.appTitle {
	color: mat-color($accent);
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.menu-button {
	margin-right: 14px;
}

.sidenav-container {
	width: 240px; // Arbitary width for testing purposes, to be removed?
	display: flex;
	flex-direction: column;
	div:first-child {
		display: flex;
		align-items: center;
		background: mat-color($primary);
	}

	div:not(:first-child) {
		padding: 20px;
	}
}

.app-container {
	height: 100%;
	width: 100%;
	// This here fixed everything
	display: flex;
	flex-direction: column;
	// So don't touch this
}

a button {
	text-decoration: none;
	color: mat-color($primary);

}

a button:hover {
	color: mat-color($primary, darker);
}

.addActivity {
    // Position needs to be fixed
    position: fixed;
    right: 30px;
    bottom: 30px;
}