@import "src/theme";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.main-toolbar {
	margin-bottom: 5px;
}

.appTitle {
	color: mat-color($accent);
}
.toolbar-spacer {
	flex: 1 1 auto;
}

.menu-button {
	margin-right: 14px;
}

.sidenav-container {
	width: 240px; // Arbitary width for testing purposes, to be removed?
	display: flex;
	flex-direction: column;
	div:first-child {
		display: flex;
		align-items: center;
		background: mat-color($primary);
	}

	div:not(:first-child) {
		padding: 20px;
	}
}

.content-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
}

a button {
	text-decoration: none;
	color: mat-color($primary);

}

a button:hover {
	color: mat-color($primary, darker);
}

#appWrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.addActivity {
    // Position needs to be fixed
    position: fixed;
    right: 30px;
    bottom: 30px;
}