@import "src/theme";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.main-toolbar {


	span {
		color: mat-color($accent);
	}
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.menu-button {
	margin-right: 14px;
}

.sidenav-container {
	width: 240px; // Arbitary width for testing purposes, to be removed?
	padding: 10px;
	display: flex;
	flex-direction: column;
	background: mat-color($primary);

	* {
		color: mat-color($accent);
	}
}

.content-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
}

a button {
	text-decoration: none;
	color: mat-color($primary);

}

a button:hover {
	color: mat-color($primary, darker);
}