<md-card *ngIf="!forgot" class="loginCard">
	<md-card-header>
		<md-card-title>Existing User</md-card-title>
	</md-card-header>
	<md-card-content>
		<form  (ngSubmit)="onSigninSubmit()" [formGroup]="signinForm" novalidate>
			<md-input-container class="fullWidth required">
				<input mdInput required type="text" placeholder="Email" class="required" formControlName="email">
				<md-hint align="end" *ngIf="signinForm.controls.email.errors && !signinForm.controls.email.pristine" class="error">Invalid Email!</md-hint>
			</md-input-container>
			<md-input-container class="fullWidth required">
				<input type="password" mdInput required placeholder="Password" class="required" formControlName="password">
				<md-hint align="end" *ngIf="signinForm.controls.password.errors && !signinForm.controls.password.pristine" class="error">Password must be atleast 6 characters</md-hint>
			</md-input-container>
			<a color="accent" (click)='this.forgot=true'>Forgot your username or password?</a>
			<section class="alignRight">
				<button class="buttonPad" type="button" md-raised-button color="accent" (click)="goBack()">Cancel</button>
				<button class="buttonPad" md-raised-button color="accent" [disabled]="!signinForm.valid">Sign in</button>
				<button class="buttonPad" type="button" md-raised-button color="primary" (click)="googleLogin()">Google</button>
			</section>
		</form>
	</md-card-content>
</md-card>

<md-card *ngIf="forgot" class="loginCard">
	<md-card-header>
		<md-card-title>Forgot password?</md-card-title>
	</md-card-header>
	<md-card-content>
		<form *ngIf="forgot" (ngSubmit)="onForgotPasswordSubmit()" [formGroup]="forgotPasswordForm" novalidate>
			<md-input-container class="fullWidth required">
				<input mdInput required placeholder="Email" formControlName="email" class="required">
				<md-hint align="end" *ngIf="forgotPasswordForm.controls.email.errors && !forgotPasswordForm.controls.email.pristine" class="error">Invalid Email.</md-hint>
			</md-input-container>
			<button md-raised-button class="buttonPad" color="accent" type="submit" [disabled]="!forgotPasswordForm.valid">FORGOT PASSWORD</button>
		</form>
	</md-card-content>
</md-card>