<div class="card-page">
	<div class="activity-list" [@mobile]="view">
		<md-list>
			<h2 md-subheader>Activities</h2>
			<md-list *ngFor="let activity of activities, let i = index" [@entry]>
				<md-divider></md-divider>
				<md-list-item (click)="select(i)"> <!-- normal list entry -->
					<md-icon class="list-icon" md-list-avatar mdTooltip="{{activity.category.category}}">{{ activity.category?.icon }}</md-icon>
					<h2 md-line><span class="title">{{activity.title}}</span></h2>
					<h3 md-line>{{activity?.subtitle}}</h3>

					<p md-line><span class="title">Location:</span><span class="location"> {{activity.location}} </span></p>
					<p md-line><span class="title">Date:</span><span class="time"> {{activity.date}} - {{activity.time}} </span></p>
					<p md-line><span class="title">Organizer:</span><span class="organizer"> {{activity.organizer}} </span></p>
					<p md-line><span class="title">Description: </span><span *ngIf="!(mobileView && (selectedActivity == activities[i]))" class="description"> {{activity.description}} </span></p>
				</md-list-item>
				<div class="actions">
					<button md-icon-button mdTooltip="Favorite"><md-icon>favorite</md-icon></button>
					<!--
					<button md-icon-button *ngIf="selectedActivity != activities[i]" mdTooltip="Show more" (click)="select(i)">
						<md-icon *ngIf="!mobileView">chevron_right</md-icon>
						<md-icon *ngIf="mobileView">expand_more</md-icon>
					</button>
					<button md-icon-button *ngIf="selectedActivity == activities[i]" mdTooltip="Show less" (click)="select(i)">
						<md-icon *ngIf="!mobileView">chevron_left</md-icon>
						<md-icon *ngIf="mobileView">expand_less</md-icon>
					</button>
					-->
				</div>

				<div class="expanded" *ngIf="selectedActivity == activities[i] && mobileView" [@select-mobile]> <!-- expanded list entry -->
					<p class="description"> {{activity.description}}  </p>
					<div class="extra-actions">
						<button md-button style="align-self: flex-end;"><md-icon>mail</md-icon> CONTACT</button>
					</div>
				</div>

			</md-list>	<!-- End of ngFor -->
		</md-list>
	</div>
	<div class="selected-activity-container">
		<md-card *ngIf="selectedActivity" [@select]="selectedActivity">
			<md-card-header>
				<md-card-title>
					{{selectedActivity?.title}}
				</md-card-title>
				<md-card-subtitle>
					{{selectedActivity?.subtitle}}
				</md-card-subtitle>
			</md-card-header>
			<md-card-content>
				<p><span class="title">Location:</span><span class="location"> {{selectedActivity?.location}} </span></p>
				<p><span class="title">Date:</span><span class="time"> {{selectedActivity?.date}} - {{selectedActivity?.time}} </span></p>
				<p><span class="title">Organizer:</span><span class="organizer"> {{selectedActivity?.organizer}} </span></p>
				<span class="title">Description: </span><br><p class="description"> {{selectedActivity?.description}} </p>
			</md-card-content>
			<md-card-actions>
				<button md-button><md-icon>favorite</md-icon> FAVORITE</button>
				<button md-button><md-icon>mail</md-icon> CONTACT</button>
			</md-card-actions>
		</md-card>
	</div>
</div>