<div #page class="card-page">
	<div class="activity-list">
		<h2>Activities</h2>
		<div #listItem class="activity-list-item" *ngFor="let activity of activities, let i = index"
				 (click)="select(i, listItem, page);" [@entry] [class.expand]="mobileView && selectedActivity === activities[i]"
				 [class.listItemSelected]="selectedActivity === activities[i]"
				 [class.myItem]="activities[i].created_uid === user?.userId"
		>
			<div class="list-item-header">
				<md-icon class="activity-icon" mdTooltip="{{activity.category.category}}">{{ activity.category?.icon }}</md-icon>
				<div [class.truncate]="truncate(i)">
					<h3 [class.truncate]="truncate(i)">{{activity.title}}</h3>
					<span [class.truncate]="truncate(i)" class="subtitle">{{activity?.subtitle}}</span>
				</div>
				<button *ngIf="user" class="fav" 
					md-icon-button mdTooltip="Favorite" 
					(click)="stopProp($event); addFavorite(activity)"
					[class.favorited]="isFavorite(activity)">
					<md-icon>favorite</md-icon>
				</button>
			</div>
			<span class="title">Location:</span><span [class.truncate]="truncate(i)" class="location"> {{activity.location}} </span>
			<span class="title">Date:</span><span [class.truncate]="truncate(i)" class="time"> {{activity.date}} - {{activity.time}} </span>
			<span class="title" >Organizer:</span><span [class.truncate]="truncate(i)" class="organizer"> {{activity.organizer}} </span>
			<span class="title">Description: </span><span [class.truncate]="truncate(i)" class="description"> {{activity.description}} </span>
			<div class="activity-actions" *ngIf="user && selectedActivity === activities[i] && mobileView">
				<button md-button *ngIf="selectedActivity.created_uid !== user.userId" (click)="stopProp($event); openDialog()"><md-icon>mail</md-icon>Contact</button>
				<button md-button *ngIf="selectedActivity.created_uid === user.userId" (click)="deleteActivity(); stopProp($event)"><md-icon>delete</md-icon>Delete</button>
				<button md-button [routerLink]="['/edit-activity', this.selectedActivity.$key]" *ngIf="selectedActivity.created_uid === user.userId" (click)="stopProp($event)"><md-icon>mode_edit</md-icon>Edit</button>
				<button md-button (click)="stopProp($event); showComments = !showComments"><md-icon>comment</md-icon>Comments</button>
			</div>
			<act-message *ngIf="mobileView && selectedActivity === activities[i] && showComments" [context]="selectedActivity['$key']" [ownerId]="selectedActivity.created_uid" (click)="stopProp($event)">
			</act-message>
		</div>
	</div>
	<div class="buttonWrapper" [style.height]="mobileView ? 0 : 'initial'">
		<!--
			This is used to position "add new activity" button between list and card views, relative positioning doesn't work properly in scrollable divs (activity list)
		-->
		<a md-fab routerLink="/new-activity"
				routerLinkActive="active"
				class="addActivity"
				mdTooltip="Add a new activity!"
				mdTooltipPosition="left"
				[style.position]="mobileView ? 'fixed' : 'absolute'"
		><md-icon>add</md-icon></a>
	</div>

	<div class="selected-activity-container">
		<md-card class="selectedActivity" *ngIf="selectedActivity" [@select]="selectedActivity">
			<md-card-header>
				<md-card-title>
					<md-icon>{{ selectedActivity.category?.icon }}</md-icon>
					<span>
						{{selectedActivity?.title}}
					</span>
				</md-card-title>
			</md-card-header>
				<md-card-subtitle>
					{{selectedActivity?.subtitle}}
				</md-card-subtitle>
			<md-card-content>
				<span class="title">Location:</span><span class="location"> {{selectedActivity?.location}} </span>
				<span class="title">Date:</span><span class="time"> {{selectedActivity?.date}} {{selectedActivity?.time}} </span>
				<span class="title">Organizer:</span><span class="organizer"> {{selectedActivity?.organizer}} </span>
				<span class="title">Description: </span><span class="description"> {{selectedActivity?.description}} </span>
			</md-card-content>
			<md-card-actions class="right-align" *ngIf="user">
				<button md-button *ngIf="selectedActivity.created_uid !== user.userId" (click)="openDialog()"><md-icon>mail</md-icon>CONTACT</button>
				<button md-button *ngIf="selectedActivity.created_uid === user.userId" (click)="deleteActivity()"><md-icon>delete</md-icon>Delete</button>
				<button md-button [routerLink]="['/edit-activity', this.selectedActivity['$key']]" *ngIf="selectedActivity.created_uid === user.userId"><md-icon>mode_edit</md-icon>EDIT</button>
				<button md-button (click)="showComments = !showComments"><md-icon>comment</md-icon>COMMENTS</button>
			</md-card-actions>
		</md-card>
		<md-card *ngIf="user && showComments">
			<md-card-header>
				<md-card-title>
					<md-icon>comment</md-icon>
					<span>
						Comments
					</span>
				</md-card-title>
			</md-card-header>
			<act-message [context]="selectedActivity['$key']" [ownerId]="selectedActivity.created_uid">
			</act-message>
		</md-card>
	</div>
</div>