@import "src/theme-variables";

@media screen and (min-width: 1281px) {
	.card-page {	// easier to handle styles when properly contained
		margin: 0 auto;
		margin-top: 5px;
		width: 80%;
		height: 99%;
		display: flex;
		flex-flow: row nowrap;
		align-self: center;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
		max-width: 1600px;
	}
}

@media screen and (min-width: 851px) and (max-width: 1280px) {
	.card-page {	// easier to handle styles when properly contained
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		align-self: center;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
	}

	.selected-activity-container {
		min-width: 500px;
	}

}

.activity-list {
	min-width: 350px;
	max-width: 500px;
	float: left;
	width: 45%;
	overflow-y: scroll;
}

md-list {
	padding-top: 0px;
	position: relative;
	z-index: 1;
}

md-list-item:hover, .expanded:hover {
	cursor: pointer;
}

@media screen and (min-width: 850px) {
	// No background highlight on mobile width
	// If small width on desktop, still show cursor: pointer

	md-list-item:hover, .expanded:hover {
		background: rgba(0,0,0,0.1);
	}

	/deep/.dark-theme md-list-item:hover, /deep/.dark-theme .expanded:hover {
		background: rgba(255,255,255,0.3);
	}
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item {
	color: inherit;
}

.list-icon {
	text-align: center;
}

.alignRight {
	display: flex;
	justify-content: flex-end;
}

.expanded {
	display: none;
}

.actions {
	position: absolute;
	top: 2px;
	right: 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.title {
	font-weight: bold;
}

.selected-activity-container {
	float: left;
	flex: 1;
	height: 100%;
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	overflow-y: scroll;
}

@media screen and (max-width: 850px) {

	.card-page {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	.activity-list {
		width: 100%;
		max-width: 100%;
		min-width: initial;
		overflow-y: visible;
		overflow-x: hidden; // For some reason cards push outside bounds
		padding-bottom: 80px;
	}

	.expanded {
		display: block;
		padding: 8px 32px 10px 32px;
		position: relative;
		overflow: hidden;
		position: relative;
		font-size: 14px;

		.list-icon {
			position: absolute;
			left: 4px;
			margin: 0;
			top: 40px;
		}

		h2,h3 {
			margin: 2px 0;
		}

		td {
			font-size: 14px;
		}

		p {
			margin-top: 0;
		}

		.extra-actions {
			display: flex;
			justify-content: flex-end;
		}
	}

	.selected-activity-container {
		display: none;
		visibility: hidden;
	}

	.list-icon {
		margin-right: -20px;
		margin-left: -20px;
	}

}

:not(.mat-line) > .description {
	clear: left;
	display: block;
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
}

td:first-child {
	font-weight: bold;
	vertical-align: top;
	padding-right: 10px;
}

.contentDivider {
	border-top: 1px solid rgba(0,0,0,0.12);
}

/deep/ .dark-theme .contentDivider {
	border-top: 1px solid rgba(255,255,255,0.12);
}

.selected-activity-container md-card {

	max-width: 700px;

	md-card-header {
		//border-bottom: 1px solid mat-color($primary, lighter);
		position: relative;

		:after {
			content: "";
			display: block;
			position: absolute;
			border-bottom: 1px solid rgba(0,0,0,0.12);
			margin-left: -24px;
			margin-right: -24px;
			bottom: 0;
			left: 0;
			height: 1px;
			width: calc(100% + 48px);
		}

		* {
			font-weight: bold;
		}
	}

	md-card-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		margin-bottom: 0;

	}

	md-card-content {
		
	}

}

.activityMessages {
	font-size: 14px;
	position: relative;
}

.messageListing {

	table-layout: fixed;

	td:first-child {
		display: block;
		width: 100px;

		span {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

	}

	.user {

	}

	.message {

	}

	.timestamp {
		font-size: 0.5em;
	}
}

.newComment {
	height: 60px;
}