@import "src/theme-variables";

.card-page {	// easier to handle styles when properly contained
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.activity-list {
	min-width: 350px;
	max-width: 500px;
	float: left;
	width: 45%;
	overflow-y: scroll;
}

md-list {
	padding-top: 0px;
	position: relative;
	z-index: 1;
}

@media (hover:hover) {
		md-list-item:hover, .expanded:hover {
		background: rgba(0,0,0,0.1);
		cursor: pointer;
	}

	/deep/.dark-theme md-list-item:hover, /deep/.dark-theme .expanded:hover {
		background: rgba(255,255,255,0.3);
	}
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item {
	color: inherit;
}

.list-icon {
	text-align: center;
}

.expanded {
	display: none;
}

.actions {
	position: absolute;
	top: 2px;
	right: 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.title {
	font-weight: bold;
}

.selected-activity-container {
	float: left;
	flex: 1;
	height: 100%;
	padding: 10px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

@media screen and (max-height: 800px) {

	.selected-activity-container {
		float: left;
		width: 55%;
		height: 100%;
		padding: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
	}
}

@media screen and (max-width: 850px) {

	.card-page {
		width: 100%;
		height: 100%;
	}

	.activity-list {
		width: 100%;
		max-width: 100%;
		min-width: initial;
		overflow-y: scroll;
		overflow-x: hidden; // For some reason cards push outside bounds
		padding-bottom: 80px;
	}

	.expanded {
		display: block;
		padding: 8px 32px 10px 32px;
		position: relative;
		overflow: hidden;
		position: relative;
		font-size: 14px;

		.list-icon {
			position: absolute;
			left: 4px;
			margin: 0;
			top: 40px;
		}

		h2,h3 {
			margin: 2px 0;
		}

		td {
			font-size: 14px;
		}

		p {
			margin-top: 0;
		}

		.extra-actions {
			display: flex;
			justify-content: flex-end;
		}
	}

	.selected-activity-container {
		display: none;
		visibility: hidden;
	}

	.list-icon {
		margin-right: -20px;
		margin-left: -20px;
	}

}

:not(.mat-line) > .description {
	clear: left;
	display: block;
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
}

td:first-child {
	font-weight: bold;
	vertical-align: top;
	padding-right: 10px;
}

md-card {

	min-width: 350px;
	max-width: 600px;

	md-card-header {
		//border-bottom: 1px solid mat-color($primary, lighter);
		position: relative;

		:after {
			content: "";
			display: block;
			position: absolute;
			border-bottom: 1px solid mat-color($primary, lighter);
			margin-left: -24px;
			margin-right: -24px;
			bottom: 0;
			left: 0;
			height: 1px;
			width: calc(100% + 48px);
		}

		* {
			font-weight: bold;
		}
	}

	md-card-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
	}

	md-card-content {
		
	}

}
