@import "src/theme-variables";

:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.activity-list {
	width: 500px;
	height: 100%;
	overflow-y: scroll;
}

.selected-activity-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

md-list-item {
	border-bottom: 1px solid mat-color($primary,lighter);
}

.actions {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}


md-card {
	width: 400px;
	height: 500px;
	margin: 4px 8px;

	md-card-header {
		margin: 0px 0px 0px 0px;
		md-card-title {
			font-weight: bold;
			margin: -8px 0px 4px -8px;
		}
		
		md-card-subtitle {
			margin: 0px 0px 0px -8px;
		}
	}
	md-card-content {
		.title {
			font-weight: bold;
		}
		.description {
			margin-bottom: 6px;
			white-space: nowrap;  
			overflow: hidden;
			text-overflow: ellipsis; 
		}
		p {
			margin: 6px 0px;
		}
	}
	md-card-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: -50px;
	}
}
