@import "src/theme-variables";

.card-page {	// easier to handle styles when properly contained
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.activity-list {
	min-width: 350px;
	max-width: 500px;
	float: left;
	width: 45%;
	overflow-y: scroll;
}

md-list {
	padding-top: 0px;
}

.expanded {
	display: none;
}

.actions-desktop {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.title {
	font-weight: bold;
}

.selected-activity-container {
	float: left;
	width: 55%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.selected-activity-container-mobile {
	display: none;
}

@media screen and (max-height: 500px) {

	.selected-activity-container {
		float: left;
		width: 55%;
		height: 100%;
		padding: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
	}
}

@media screen and (max-width: 850px) {

	.card-page {
		width: 100vw;
		height: 100%;
	}

	.activity-list {
		width: 100%;
		max-width: initial;
		min-width: initial;
		overflow-y: visible;
		overflow-x: hidden; // For some reason cards push outside bounds
	}

	.actions-mobile {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.expanded {
		display: block;
		padding: 0 32px 0 32px;
		font-size: 0.8em;

		p {
			margin-top: 0;
		}
	}

	.selected-activity-container, .list-icon {
		display: none;
		width: 0%;
	}

	.selected-activity-container-mobile {
		clear: left;
		float: left;
		display: flex;
		justify-content: center;
		align-items: ceanter;
		padding: 5px 0 5px 0px;
	}

}

md-card {

	width: 350px;

	md-card-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
	}
}
