<div class="card-container" [style.columns]="getColCount()" [style.width]="getColCount()*355 + 'px'">
  <div class="activity" *ngFor="let activity of activities, let i = index">
    <md-card [class.expanded]="expanded[i]">
      <md-card-header>
        <md-card-title>{{activity.title}}</md-card-title>
        <md-card-subtitle>{{activity.subtitle}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="description fullwidth">
          <span class="contentTitle"> Description:</span>
          <p [class.expanded]="expanded[i]">{{activity.description}}<p>
        </div>
        <div class="flexSpacer"></div>
        <div class="info fullwidth">
          <p><span class="contentTitle">Location:</span> {{activity.location}}</p>
          <p><span class="contentTitle">Time:</span> {{activity.time}}</p>
          <p><span class="contentTitle">Organizer:</span> {{activity.organizer}}</p>
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-icon-button><md-icon>create</md-icon></button>
        <button md-icon-button><md-icon>delete</md-icon></button>
        <button md-icon-button><md-icon>favorite</md-icon></button>
				<button *ngIf="!expanded[i]" md-icon-button (click)="expanded[i]=true"><md-icon>expand_more</md-icon></button>
        <button *ngIf="expanded[i]" md-icon-button (click)="expanded[i]=false"><md-icon>expand_less</md-icon></button>
        <!--<div style="flex: 1 1 auto;"></div>-->
        <!--
        <button md-icon-button><md-icon>expand_less</md-icon>/button>
        -->
      </md-card-actions>
    </md-card>
  </div>
</div>
