@import "src/theme-variables";

:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.card-page {	// easier to handle styles when properly contained
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.activity-list {
	min-width: 350px;
	max-width: 500px;
	float: left;
	width: 45%;
	height: 100%;
	overflow-y: scroll;
}

md-list-item {
	border-bottom: 1px solid mat-color($primary,lighter);
	position: relative;
}

.actions {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.title {
	font-weight: bold;
}

.selected-activity-container {
	float: left;
	width: 55%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 850px) {

	.card-page {
		width: 100vw;
		height: 100%;
	}

	.activity-list {
		width: 100%;
		min-width: initial;
		overflow-y: visible;
		overflow-x: hidden; // For some reason cards push outside bounds
	}

	.selected-activity-container, .list-icon {
		display: none;
		width: 0%;
	}


}

md-card {

	width: 350px;

	md-card-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
	}
}
