<md-card class="activity" *ngFor="let activity of activities">
  <md-card-header>
    <md-card-title>{{activity.title}}</md-card-title>
    <md-card-subtitle>{{activity.subtitle}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <section class="fullwidth">
      Description:<br>
      <p>{{activity.description}}<p>
    </section>
    <section class="fullwidth">
      Location: {{activity.location}}<br>
      Time: {{activity.time}}
    </section>
    <section class="fullwidth">
      Organizer: {{activity.organizer}}
    </section>
  </md-card-content>
  <md-card-actions class="alignRight">
    <button md-button><md-icon>create</md-icon>EDIT</button>
    <button md-button><md-icon>delete</md-icon>REMOVE</button>
    <button md-button><md-icon>favorite</md-icon>LIKE</button>
    <button md-button><md-icon>expand_more</md-icon>EXPAND</button>
    <!--
    <button md-button><md-icon>expand_less</md-icon>COLLAPSE</button>
    -->
  </md-card-actions>
</md-card>
<a md-fab routerLink="/new-activity" routerLinkActive="active" class="addActivity"><md-icon>add</md-icon></a>
<!-- Need to add isLoggedIn check to the button -->